/* CSS pour le podium */
.podium {
    font-weight: bold; /* Mettre en gras le texte des 茅l茅ments du podium */
  }
  
  /* Style pour le premier */
  .first-place::before {
    content: ""; /* Ajouter une ic么ne ou un symbole pour la premi猫re place */
    margin-right: 5px; /* Ajouter un espace  droite de l'ic么ne */
  }
  
  /* Style pour le deuxi猫me */
  .second-place::before {
    content: ""; /* Ajouter une ic么ne ou un symbole pour la deuxi猫me place */
    margin-right: 5px; /* Ajouter un espace  droite de l'ic么ne */
  }
  
  /* Style pour le troisi猫me */
  .third-place::before {
    content: ""; /* Ajouter une ic么ne ou un symbole pour la troisi猫me place */
    margin-right: 5px; /* Ajouter un espace  droite de l'ic么ne */
  }
  