/* TakuzuGame.css */
.container {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.row {
  display: flex;
  justify-content: center;
}

.col {
  flex: 0 0 50px;
  margin: 5px;
}

.cell {
  width: 50px;
  height: 50px;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

/* Couleur de fond pour les cellules générées automatiquement */
.cell-auto {
  background-color: #e0e0e0; /* Couleur de fond neutre pour indication */
}

.cell-auto-zero {
  background-color: #64b5f6; /* Bleu pour les 0 générés automatiquement */
  color: #fff;
}

.cell-auto-one {
  background-color: #ff8a65; /* Orange pour les 1 générés automatiquement */
  color: #fff;
}

/* Couleur de fond pour les cellules modifiées manuellement */
.cell-manual-zero {
  background-color: rgba(100, 181, 246, 0.6); /* Bleu transparent pour les 0 modifiés manuellement */
  color: #fff;
}

.cell-manual-one {
  background-color: rgba(255, 138, 101, 0.6); /* Orange transparent pour les 1 modifiés manuellement */
  color: #fff;
}

.empty {
  background-color: #f0f0f0;
}

.modal-content {
  padding: 20px;
}

.modal-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.modal-body {
  font-size: 18px;
  margin-bottom: 20px;
}

.modal-footer {
  justify-content: center;
}
