/* TakuzuGameList.css */
.container {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
  }
  
  
  /* Couleur de fond pour les cellules générées automatiquement */
  .cell-auto {
    background-color: #e0e0e0; /* Couleur de fond neutre pour indication */
  }
  
  .cell-auto-zero {
    background-color: #64b5f6; /* Bleu pour les 0 générés automatiquement */
    color: #fff;
  }
  
  .cell-auto-one {
    background-color: #ff8a65; /* Orange pour les 1 générés automatiquement */
    color: #fff;
  }
  
  /* Couleur de fond pour les cellules modifiées manuellement */
  .cell-manual-zero {
    background-color: rgba(100, 181, 246, 0.6); /* Bleu transparent pour les 0 modifiés manuellement */
    color: #fff;
  }
  
  .cell-manual-one {
    background-color: rgba(255, 138, 101, 0.6); /* Orange transparent pour les 1 modifiés manuellement */
    color: #fff;
  }
  
  .empty {
    background-color: #f0f0f0;
  }
  
  